body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul[class] {
  list-style: none;

  margin: 0;
  padding: 0;
}

.main-layout {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.scroll-container {
  height: calc(100vh - 120px);
  overflow-y: scroll;
}

img {
  max-width: 100%;

  object-fit: cover;
}